<div data-search-perks-target="list">
  <div class="results">
    <p>
      <% if params[:query].blank? %>
        <%= pluralize perks.count, 'perk' %> available
      <% else %>
        <%= pluralize perks.count, 'result' %> for <code><%= params[:query] %></code>
      <% end %>
    </p>
  </div>
  <div class="flex">
    <div class="perks-cards wrapper">
      <% perks.each do |perk| %>

      <% if current_user.favourites.include?(perk) %>
          <%= link_to favourite_path(current_user.favourites.find(params[:id])), class: "link-light-blank button-top-right", method: :delete do %>
                <h6 class="button-card-teal high-z-index">♥︎</h6>
              <% end %>
        <% else %>
             <%= link_to perk_favourites_path(perk), class: "link-light-blank button-top-right", method: :post  do %>
                <h6 class="button-card-teal high-z-index">♡</h6>
            <% end %>
      <% end %>

<%# comment %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path perk.perk_pic.first.key %>')">
          <%= link_to "", perk_path(perk), class: "card-link" %>
          <%= link_to perk_favourites_path(perk), class: "link-dark-blank button-top-right", method: :post do %>
            <h6 class="button-card high-z-index">♡</h6>
          <% end %>
          <div class="card-infos">
            <h2><%= perk.name %></h2>
            <p><%= perk.merchants %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="map"
      style="width: 564px; height: 564px;"
      data-markers="<%= markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
