<div data-search-perks-target="list">
  <div class="results">
    <div class="flex">
      <p>
        <% if params[:query].blank? %>
          <%= pluralize perks.count, 'perk' %>
        <% else %>
          <%= pluralize perks.count, 'result' %> for <code><%= params[:query] %></code>
        <% end %>
      </p>
      <%= form_with(url: perks_path, method: :get, local: true) do |form| %>
        <%= form.select :order, Perk.pluck(:category).uniq, selected: params[:order]%>
        <%= form.submit "search", class: "submit-button" %>
      <% end%>
    </div>
  </div>
  <br>
  <div class="flex">
    <div class="perks-cards wrapper">
      <% perks.each do |perk| %>

        <div class="card medium" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path perk.perk_pic.first.key %>')">
          <%= link_to "", perk_path(perk), class: "card-link" %>
          <% favourite = current_user.favourites.find_by(perk: perk) %>
          <% if favourite.present? %>
            <%= link_to favourite_path(favourite), class: "link-dark-blank button-top-right", method: :delete, remote: true do %>
              <h6 class="button-card high-z-index">♥︎</h6>
            <% end %>
          <% else %>
            <%= link_to perk_favourites_path(perk), class: "link-dark-blank button-top-right", method: :post, remote: true do %>
              <h6 class="button-card high-z-index">♡</h6>
            <% end %>
          <% end %>
          <div class="card-infos">
            <h2><%= perk.name %></h2>
            <p><%= perk.merchants %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="map"
      style="width: 564px; height: 564px;"
      data-markers="<%= markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
