<div data-search-perks-target="list">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize perks.count, 'perk' %> available
    <% else %>
      <%= pluralize perks.count, 'result' %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="perks">
    <% perks.each do |perk| %>
      <%= link_to perk_path(perk) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path perk.perk_pic.first, height: 300, crop: :fill %>')">
          <h2><%= perk.name %></h2>
          <p><%= perk.description %></p>
          <br>
      <% end %>
    <% end %>
  </div>
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
