<div data-search-perks-target="list">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize perks.count, 'perk' %> available
    <% else %>
      <%= pluralize perks.count, 'result' %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="perks">
    <% perks.each do |perk| %>
      <%= perk.name %>
      <%= perk.description %>
      <%= perk.perk_pic %>
      <%= perk.location %>
      <%= perk.token_cost %>
      <%= perk.merchants %>
    <% end %>
  </div>
</div>
