<%= render 'shared/navbar' %>

<div class="contain wrapper">

<div>
  <ul class="list-group" id="results">
    <% @all_perks.each do |user_perk| %>
      <li class="list-group-item list-group-item-primary">
        <%= user_perk.perk.name %>
        <%= user_perk.perk.token_cost %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <ul class="list-group" id="results2down">
    <% @all_perks.each do |user_perk| %>
      <li class="list-group-item list-group-item-secondary">
        <%= user_perk.perk.name %>
        <%= user_perk.perk.token_cost %>
      </li>
    <% end %>
  </ul>
</div>
</div>

<%# <%= link_to "remove perk", remove_user_perk_path(user_perk), class: "btn btn-primary", method: :delete %>
