<%= render 'shared/navbar' %>
<div class="current-user-id" id="<%=current_user.id%>"></div>
<div data-controller="account totals-bar" class="contain" >

  <div class="score-perk flex">
    <div class="score-details-main">
      <div class="total-display">
        <h2 data-totals-bar-target="totals" class="countup"><%= current_user.tokens_used  %></h2>
        <h5>tokens Used</h5>
      </div>
      <div class="total-display">
        <h2 data-totals-bar-target="available" class="countup"><%= current_user.token_allowance - current_user.tokens_used %></h2>
        <h5>tokens available</h5>
      </div>
      <%= link_to tokens_path, class: "link-light-blank button-bottom-left" do %>
        <p class="button-card-teal prominent">+</p>
      <% end %>
    </div>
  </div>
    <div class="list-section owned">
      <div class="flex-owned" id="results2down" data-account-target="package">
        <h2 class="package-header text-vertical-left">your perks</h2>
        <% if @user_perks_all.blank? %>
          <div class="card-green small">
            <div class="card-infos">
              <h2>add perks here</h2>
            </div>
          </div>
        <% else %>
          <div class="card-green small">
            <div class="card-infos">
              <h2>add perks here</h2>
            </div>
          </div>
          <% @user_perks_all.each do |user_perk| %>
            <div class="card-green small"
                id=<%="#{user_perk.perk.id}-true-#{user_perk.id}"%>
                data-action="dragend->account#options dragend->totals-bar#total"
                data-url="<%= remove_user_perk_path(user_perk) %>"
                data-token-cost=<%="#{user_perk.perk.token_cost}"%>
                style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path user_perk.perk.perk_pic.first.key %>')">
              <div class="card-infos">
                <h2><%= user_perk.perk.name %></h2>
                <p><%= user_perk.perk.token_cost %> tokens</p>
              </div>
              <% favourite = current_user.favourites.find_by(perk: user_perk.perk) %>
              <% if favourite.present? %>
                <%= link_to favourite_path(favourite), class: "link-light-blank button-top-right", method: :delete, remote: true do %>
                  <h6 class="button-card-teal high-z-index">♥︎</h6>
                <% end %>
              <% else %>
                <%= link_to perk_favourites_path(user_perk.perk), class: "link-light-blank button-top-right", method: :post, remote: true do %>
                  <h6 class="button-card-teal high-z-index">♡</h6>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <%= link_to package_path, class: "link-light-blank button-top-right" do %>
          <p class="button-card-teal prominent">✓</p>
        <% end %>
        <%= link_to profile_path, class: "link-light-blank button-bottom-left" do %>
          <p class="button-card-teal">♺</p>
        <% end %>
      </div>
    </div>
    <div class="list-section range" id="results" data-account-target="list">
      <h2 class="package-header text-vertical-left green-text">choose perks</h2>
      <% @unowned_perks.each do |perk|%>
        <div class="card small"
            id=<%="#{perk.id}-false"%>
            data-action="dragend->account#account dragend->totals-bar#total"
            data-url="<%= perk_user_perks_path(perk) %>"
            data-token-cost=<%="#{perk.token_cost}"%>
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path perk.perk_pic.first.key %>')">
          <div class="card-infos">
            <h2><%= perk.name %></h2>
            <p><%= perk.token_cost %> tokens</p>
          </div>
          <% favourite = current_user.favourites.find_by(perk: perk) %>
          <% if favourite.present? %>
            <%= link_to favourite_path(favourite), class: "link-dark-blank button-top-right", method: :delete, remote: true do %>
              <h6 class="button-card high-z-index">♥︎</h6>
            <% end %>
          <% else %>
            <%= link_to perk_favourites_path(perk), class: "link-dark-blank button-top-right", method: :post, remote: true do %>
              <h6 class="button-card high-z-index">♡</h6>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>



</div>

<div>
  <%= render 'shared/profile' %>
</div>

<%# <%= link_to "remove perk", remove_user_perk_path(user_perk), class: "btn btn-primary", method: :delete %>
