<%= render 'shared/navbar_dark' %>
<div class="contain">
  <div class="profile-grid">
    <div class='profile-first'>
      <div class="notifications-block">
        <h3><%= @greeting %> We've put your latest perkk news below.</h3>
        <% if @user_perks.blank? %>
          <h4> > no new notifications at the moment</h4>
        <% else %>
          <h5> > <% perk_notification = @user_perks.sample %><%= perk_notification.merchants.downcase %>: you recently favourited <%= perk_notification.name.downcase %>, add it to your package today for only <%= perk_notification.token_cost %> tokens! </h5>
          <h5> > <% perk_notification = @user_perks.sample %><%= perk_notification.merchants.downcase %>: why not try upgrading your perkk with us? <h5>
          <h5> > <% perk_notification = @user_perks.sample %><%= perk_notification.merchants.downcase %>: any questions ahead of your booking? please email us: hello@<%= perk_notification.merchants.downcase.gsub(/\s+/, "") %>.co.uk</h5>
          <h5> > <% perk_notification = @user_perks.sample %><%= perk_notification.merchants.downcase %>: don't forget to review your perkk experience with us!</h5>
        <% end %>
      </div>
      <br>
      <br>
      <div class="cards-profile">
        <h3 class="text-vertical-left">recommended perks</h3>
        <% @recommended_perks.each do |perk|%>
          <div class="card-green" data-controller="flipcard" data-flipcard-target="flipcard">
            <h6 class="button-card-teal button-top-right high-z-index button-flip" data-flipcard-target="flipcard-button" data-action="click->flipcard#toggleFlipcard">i</h6>
            <div class="front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path perk.perk_pic.first.key %>')">
              <%= link_to "", perk_path(perk), class: "card-link" %>

              <%# NOT USING: because of recommended perks before action in users controller %>
              <%# favourite = current_user.favourites.find_by(perk: perk) %>
              <%# if favourite.present? %>
                <%#=# link_to favourite_path(favourite), class: "link-light-blank button-top-right", method: :delete, remote: true do %>
                  <%# <h6 class="button-card-teal high-z-index">♥︎</h6> %>
                <%# end %>
              <%# else %>
               <%#= link_to perk_favourites_path(perk), class: "link-light-blank button-top-right", method: :post, remote: true do %>
                  <%# <h6 class="button-card-teal high-z-index">♡</h6> %>
                <%# end %>
              <%# end %>

              <div class="card-infos">
                <h2><%= perk.name %></h2>
                <p><%= perk.merchants %></p>
              </div>
            </div>

            <div class="back" data-flipcard-target="flipback">
              <%= link_to "", perk_path(perk), class: "card-link" %>
              <div class="card-infos">
                <h3><%= perk.name %></h3>
                <h5>Details</h5>
                <p><%= perk.description %></p>
                <h4><%= perk.token_cost %> tokens</h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class='profile-second'>
      <h2> Perk categories </h2>
        <% @perk_category.each do |category| %>
          <%= link_to perk_path(Perk.find_by(category: category)) do %>
            <h3><%= category %></h3>
          <% end  %>
        <% end  %>
      </div>
    </div>
  </div>
</div>


<div>
  <%= render 'shared/profile' %>
</div>
