<%= render 'shared/navbar' %>
<div class="contain flex">
  <div>
    <div>
      <h1 class="h2 my-5 d-flex justify">Notifications </h1>
      <br>
      <h5> turo: have two weeks for free on us when you renew <h5>
      <h5> ellie smith: any questions ahead of the update?</h5>
      <h5> perkk: less than two weeks to update your perks</h5>
      <h5> netflix: latest programmes released exclusive to perkk customers</h5>
      <h5> le wagon: we’ve increased your tokens for the next year!</h5>
    </div>
    <div class="cards-profile">
      <h3 class="text-vertical-left">Recommended perks</h3>
      <% @recommended_perks.each do |perk|%>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path perk.perk_pic.first.key %>')">
          <h4 class="button-card"><%= link_to "i", perk_path(perk)%></h4>
          <div class="card-infos">
            <h2><%= perk.name %></h2>
            <p><%= perk.merchants %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <div>
    <% @perks_category.each do |category| %>
      <%= category %>
    <% end %>
  </div>

  <div>
    <h4 class="button-card-profile"><%= link_to "i", profile_path %></h4>
    <h3 class="text-vertical-right">Profile</h3>
  </div>


  <div>


<%= render 'shared/profile' %>
    <p>This will be the second page (the overlap)</p>
  </div>

</div>
