<div class="navbar-dark-home">
  <div class="navbar-sections">
    <%= link_to "home", profile_path, class: "link-dark" %>
    <%= link_to "package", package_path, class: "link-dark" %>
    <%= link_to "find", perks_path, class: "link-dark" %>
  </div>
  <div class="lone-section">
    <%= link_to "tokens", tokens_path, class: "link-light" %>
    <%# <%= link_to "head out", destroy_user_session_path, method: :delete, class: "link" %>
  </div>
</div>
