<div class="navbar-dark">
  <%= link_to root_path, class: "link-dark-logo" do %>
    <h4 class="logo-icon">p</h4>
  <% end %>
  <div class="navbar-sections">
    <%= link_to "home", profile_path, class: "link-light" %>
    <%= link_to "package", package_path, class: "link-light" %>
    <%= link_to "find", perks_path, class: "link-light" %>
    <%= link_to "tokens", tokens_path, class: "link-light" %>
    <%# <%= link_to "head out", destroy_user_session_path, method: :delete, class: "link" %>
  </div>
</div>
