<div class="navbar">
  <h4 class="logo-icon">p</h4>
  <div class="navbar-sections">
    <%= link_to "home", root_path, class: "link" %>
    <%= link_to "profile", profile_path, class: "link" %>
    <%= link_to "search", perks_path, class: "link" %>
    <%= link_to "settings", edit_user_registration_path, class: "link" %>
    <%# <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "link" %>
    <%=  %>
  </div>
</div>
