<div class="full-width-papyrus"><p></p></div>
<div class="navbar">
  <h4 class="logo-icon">p</h4>
  <div class="navbar-sections">
    <%= link_to "home", profile_path, class: "link" %>
    <%= link_to "package", package_path, class: "link" %>
    <%= link_to "find", perks_path, class: "link" %>
    <%= link_to "manager", root_path, class: "link" %>
    <%# <%= link_to "head out", destroy_user_session_path, method: :delete, class: "link" %>
  </div>
</div>
