

<%# Pop out for login %>
<div class="overlay" data-controller="overlay" data-overlay-target="overlay">
  <%# Button below to pop out login pageew  %>
  <div class="sidebar">
    <div class="button-primary button-left button-overlay" data-overlay-target="button" data-action="click->overlay#toggleOverlay"><%= "⌵" %></div>
    <h2 class="text-vertical-right">Profile</h2>
  </div>

  <div class="profile-divs d-none" data-overlay-target="profileDetails">
    <div class="detail">
      <h2>details</h2>
      <div ><%= cl_image_tag(current_user.profile_pic.key, class: "avatar")%></div>
    </div>

    <div class="usage">
      <h2>usage</h2>
    </div>

    <div class="your-perks">
      <h2>your perks</h2>
      <% current_user.perks.each do |perk| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path perk.perk_pic.first.key %>')">
        <%= perk.name %>
        <%= perk.merchants %>
      <% end  %>
    </div>

  </div>
</div>
