

<%# Pop out for login %>
<div class="overlay" data-controller="overlay" data-overlay-target="overlay">
  <%# Button below to pop out login pageew  %>
  <div class="sidebar">
    <div class="button-primary button-left button-overlay" data-overlay-target="button" data-action="click->overlay#toggleOverlay"><%= "⌵" %></div>
    <h2 class="text-vertical-right">profile</h2>
  </div>

  <div class="profile-divs d-none" data-overlay-target="profileDetails">
    <div class="detail">
      <h2> account details</h2>
      <div><h2><%= cl_image_tag(current_user.profile_pic.key, class: "avatar")%> <%= current_user.name %></h2>
      </div>
      <div class="perk-details">
        <p>tokens left</p><h3><%= @tokens_left %></h3>
        <p>days left</p><h3><%= @days_left %></h3>
      </div>
      <div>
        <p>unique-code</p><h3><strong><%=current_user.unique_code %></strong></h3>
      </div>
      <div class="button-bar"><%= link_to "sign out", destroy_user_session_path, method: :delete, class: "link-light-blank" %></div>
    </div>

    <%# <div class="usage">
      <h2>usage3</h2>
    </div> %>

    <div>
      <h2>your perks</h2>
      <% if @user_perks.blank? %>
        <h4>no perks at the moment</h4>
      <% else %>
        <div class="your-perks">
          <% ranking = 1 %>
          <% user_count = @user_perks.first.users.count %>
          <% @user_perks.each_with_index do |perk, index| %>
            <div class="profile-perk">
              <div class="perk-details-main">
                <%= cl_image_tag(perk.perk_pic.first.key, class: "avatar") %>
                <strong><%= perk.name %></strong>
                by <%= perk.merchants %> <br>
              </div>
              <div class="perk-details-main">
                <div class="perk-attribute">
                  <p>token cost</p>
                  <h3 class="perk-details"><%= perk.token_cost%></h3>
                </div>
                <div class="perk-attribute">
                  <p>proportion</p>
                  <h3 class="perk-details"><%= (perk.token_cost / @total_tokens.to_f * 100).round(2) %>%</h3>
                </div>
                <div class="perk-attribute">
                  <p>ranking</p>
                  <% if index > 0 && perk.users.count < user_count %>
                    <% ranking += 1 %>
                    <% user_count = perk.users.count %>
                  <% end %>
                  <h3 class="perk-details"> <%= ranking %>
                </div>
              </div>
              <div class="perk-details">
                <%= perk.description %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
