

<%# Pop out for login %>
<div class="overlay" data-controller="overlay" data-overlay-target="overlay">
  <%# Button below to pop out login pageew  %>
  <div class="sidebar">
    <div class="button-primary button-left button-overlay" data-overlay-target="button" data-action="click->overlay#toggleOverlay"><%= "⌵" %></div>
    <h2 class="text-vertical-right">profile</h2>
  </div>

  <div class="profile-divs d-none" data-overlay-target="profileDetails">
    <div class="detail-container">
      <h2> your details</h2>
      <div class="detail">
        <div class="border-line"></div>
        <span><%= cl_image_tag(current_user.profile_pic.key, class: "avatar-very-large") %> <%= current_user.name %> </span>
        <div class="account-details">
          <span><h3><%= @tokens_left %></h3><p>tokens left</p></span>
          <span><h3><%= @days_left %></h3><p>days left</p></span>
        </div>
        <div class="unique-codes">
          <div class="qr-code"><%= @svg.html_safe %></div>
          <h4><%=current_user.unique_code %></h4><h5>unique-code</h5>
          <p> charlie@facebook.com | <i class="fab fa-facebook"></i></p>
        </div>
        <%= link_to destroy_user_session_path, method: :delete, class: "link-light-blank" do %>
          <p class="button-bar">sign out</p>
        <% end %>
      </div>
    </div>

    <div class="perk-container">
      <h2>your perks</h2>
      <% if @user_perks.blank? %>
        <h4>no perks at the moment</h4>
      <% else %>
        <div class="your-perks">
          <% ranking = 1 %>
          <% user_count = @user_perks.first.users.count %>
          <% @user_perks.each_with_index do |perk, index| %>
            <div class="profile-perk">
              <%= link_to perk_path(perk), class: "link-light-blank button-top-right" do %>
                <h4 class="button-card-teal high-z-index">i</h4>
              <% end %>
              <div class="border-line"></div>
              <div class="perk-details-header">
                <%= cl_image_tag(perk.perk_pic.first.key, class: "avatar-very-large") %>
                <div class="flex">
                  <div>
                    <h5><strong><%= perk.name %></strong></h5>
                    <p>from <%= perk.merchants %></p>
                  </div>
                  <div>
                    <h5><%= perk.token_cost%> tokens</h5>
                  </div>
                </div>
              </div>
              <div class=flex>
                <div class="perk-details-main">
                  <div class="perk-attribute">
                  </div>
                  <div class="perk-attribute">
                    <h4><%= (perk.token_cost / @total_tokens.to_f * 100).round(1) %>%</h4>
                    <p>proportion</p>
                  </div>
                  <div class="perk-attribute">
                    <% if index > 0 && perk.users.count < user_count %>
                      <% ranking += 1 %>
                      <% user_count = perk.users.count %>
                    <% end %>
                    <h4> <%= ranking %></h4>
                    <p>ranking</p>
                  </div>
                </div>
                <div class="perk-details">
                  <h5><strong>details</strong></h5>
                  <p><%= perk.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
