

<%# Pop out for login %>
<div class="overlay" data-controller="overlay" data-overlay-target="overlay">
  <%# Button below to pop out login pageew  %>
  <div class="sidebar">
    <div class="button-primary button-left button-overlay" data-overlay-target="button" data-action="click->overlay#toggleOverlay"><%= "⌵" %></div>
    <h2 class="text-vertical-right">profile</h2>
  </div>

  <div class="profile-divs d-none" data-overlay-target="profileDetails">
    <div class="detail">
      <h2>details</h2>
      <div><h2><%= cl_image_tag(current_user.profile_pic.key, class: "avatar")%> <%= current_user.name %></h2></div>
    </div>

    <%# <div class="usage">
      <h2>usage</h2>
    </div> %>

    <div class="your-perks" >
      <h2>your perks</h2>
      <% ranking = 1 %>
      <% user_count = @user_perks.first.users.count %>
      <% @user_perks.each_with_index do |perk, index| %>
        <div class="profile-perk">
        <%= cl_image_tag(perk.perk_pic.first.key, class: "avatar") %>
        <strong><%= perk.name %></strong>
         by <%= perk.merchants %> <br>
          <div class="perk-details-main">
            <div class="perk-details"> <%= perk.token_cost%>
              <p>token cost</p>
            </div>
            <div class="perk-details">
              <p>proportion</p>
              <p><%= perk.token_cost / @total_tokens.to_f * 100 %>%</p>
            </div>
            <div class="perk-details">
              <p>ranking</p>
              <% if index > 0 && perk.users.count < user_count %>
                <% ranking += 1 %>
                <% user_count = perk.users.count %>
              <% end %>
              <%= ranking %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
