<%= render 'shared/navbar_dark' %>

<div class="contain">
  <div class="tokens-grid">
    <div class='tokens-first'>
      <h1>bundles</h1>
      <div class="bundle-options">
        <% @tokens.each do |token| %>
          <div class="bundle-card">
            <div class="card-body">
              <h5 class="card-title"><%= token.bundle %></h5>
              <div class="flex">
                <h3><%= humanized_money_with_symbol(token.price) %></h3>
                <%= form_tag orders_path do %>
                  <%= hidden_field_tag 'token_id', token.id %>
                  <%= submit_tag 'Purchase', class: 'button-bar-light' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tokens-logo">
        <h1 class="logo-alternative">perkk tokens</h1>
        <h4>for when you just need more perks</h4>
      </div>
    </div>

    <div class='tokens-second'>
      <h3>perkk account</h3>
      <h2><%= current_user.tokens_used %></h2>
      <h5>tokens Used</h5>
      <h2><%= current_user.token_allowance - current_user.tokens_used %></h2>
      <h5>tokens available</h5>
    </div>
  </div>
</div>
