<%= render 'shared/navbar_transparent' %>

<div class="show-grid">
  <div class="show-container">
    <div class="perk-header">
      <h1><%= @token.bundle %></h1>
      <p>This bundle description</p>
      <p>Amount: <%= humanized_money_with_symbol(@token.price) %></p>
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'token_id', @token.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
