<%# logo and tagline, with a link to scroll down %>
<div class="contain">
  <div>
    <h1 class="logo">perkk</h1>
    <h4>making your job work for you</h4>
    <%# TO DO: button below to scroll down  %>
    <div class="button-secondary-down"><%= "⌵" %></div>
  </div>

  <%# scroll through perks card %>
  <div class="perk-gallery">
    <div class="main-perk">
      <% perk_main = @perks.sample %>
      <%# add in perk_pic will need cloudinary %>
      <%= perk_main.name %>
    </div>
    <div class="minor-perk">
      <% perk_main == Perk.last ? perk_minor = Perk.first : perk_minor = Perk.find(perk_main.id + 1) %>
      <%# add in perk_pic will need cloudinary %>
      <%= perk_minor.name %>
    </div>
    <%# TO DO: button below to scroll to next perk (update perk_main and perk_minor)  %>
    <div class="button-primary-right"><%= "⌵" %></div>
  </div>

  <%# TO DO: pop out for login %>
  <div>
    <%# TO DO: button below to pop out login page  %>
    <div class="button-primary-left"><%= "⌵" %></div>
    <h2>login</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "register your company", new_registration_path(resource_name) %><br />
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end %>
  </div>

<%# add in some extra stuff below here, perkk info etc. etc. use figma for inspo %>
</div>
